{% extends "base.html" %}
{% block content %}

<h2 class="category-heading h1">{{ page_title }}</h2>
<div class="row featurette">
    <div class="col-md-12">
        <p>
            At Maison Bleue, we work closely with our supplier, " ", to stock some of the greatest selection of natural
            wines.
        </p>
        <p>There are some really great resources available and we have put together a selection if you want to look
            deeper into the topic of natural wine!</p>
        <ul>
            <li>RAW WINE | <a href="https://www.rawwine.com/learn/what-is-natural-wine/">What is natural wine?</a></li>
        </ul>
    </div>
</div>

<h2 class="category-heading h1">Who Are We</h2>

{% for member in company %}

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{member.name}}</h3>
        <p>
            {{member.description}}
        </p>
    </div>
    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
    </div>
</div>

<hr class="featurette-divider">

{% endfor %}

{% endblock %}