{% extends "base.html" %}
{% block content %}
<h2 class="category-heading h1">{{ page_title }}</h2>
<div class="row featurette">
    <div class="col-md-12">
        <h3>Natural/Raw Wine</h3>
        <p><em>Natural Wine is farmed organically (biodynamically, using permaculture or the like) and made (or
                rather
                transformed) without adding or removing anything in the cellar. No additives or processing aids are
                used, and ‘intervention’ in the naturally occurring fermentation process is kept to a minimum. As
                such
                neither fining nor (tight) filtration is used. The result is a living wine – wholesome and full of
                naturally occurring microbiology.</em></p>
        <figcaption class="blockquote-footer">
            Isabelle Legeron, <cite title="Source Title">Raw Wine</cite>
        </figcaption>
        <!-- <p><small>- Isabelle Legeron MW</small></p> -->
    </div>
</div>
<div class="row featurette">
    <div class="col-md-12">
        <h3>Organic</h3>
        <p><em>Wines can be made from certified organically grown grapes, avoiding any synthetic pesticides or
                additives, or, to take it a step further, “organic” wines are made from organically grown grapes, and
                are also made without any added sulfites (though naturally occurring sulfites will still be
                present).</em>
        </p>
        <figcaption class="blockquote-footer">
            Dr. Vinifeira, <cite title="Source Title">Wine Spectator</cite>
        </figcaption>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-12">
        <h3>Biodynamic</h3>
        <p><em>Biodynamic is similar to organic farming in that both take place without synthetic chemicals, but
                biodynamic farming incorporates ideas about a vineyard as an entire ecosystem, and also takes into
                account things such as astrological influences and lunar cycles. A biodynamic wine means that the grapes
                are farmed biodynamically, and that the winemaker did not make the wine with any common manipulations
                such as yeast additions or acidity adjustments. A wine “made from biodynamic grapes” means that a
                vintner used biodynamically grown grapes, but followed a less strict list of rules in winemaking.</em>
        </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-12">
        <h3>Orange Wine</h3>
        <p><em>Orange/amber wine is given its name because of the color it produces in a wine. The color comes from
                making a white wine like a red wine, where the grape skins and seeds in are left in contact with the
                juice for a certain period of time, creating an orange-hued wine that will likely have a bit of
                tannin.</em></p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-12">
        <h3>Sulfites</h3>
        <p><em>Wine sulfites are naturally occurring at low levels in all wines, and are one of the thousands of
                chemical by-products created during the fermentation process. If you are looking for wines with the
                lowest level of sulfites, then organic wines are your best bet, because by label definition "Organic
                Wines" are produced from organically grown grapes without the addition of chemicals (including sulfur
                dioxide) during the winemaking process. ​Sweet white dessert wines contain the most sulfur dioxide with
                semi-sweet white wines coming in at a close second for sulfur dioxide content. If you
                are searching for wines with the lowest levels of added sulfur dioxide, you will need to swing to the
                opposite spectrum and go for dry red wines for the lowest sulfite content, followed by dry white wines
                as the middle ground choice.</em></p>
    </div>
</div>
{% endblock %}