{% extends "base.html" %}
{% block content %}
<h2 class="category-heading">Orange Wines</h2>
<hr>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://cdn.shopify.com/s/files/1/0011/8148/3072/products/tryo-gross-natural-Orange-wine-Alsace-France-front.png?v=1660578526"
            alt="">
    </div>
    <div class="col-md-7">
        <h3>Tryo, 2020</h3>
        <p>Medium bodied, dry and acidic, this orange wine packs a citrus punch that remains light and fresh on the
            palate.
        </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://cdn.shopify.com/s/files/1/0011/8148/3072/products/rose-eden-weingut-weszeli-natural-Rose-wine-Kamptal-Austria-front.png?v=1660311131"
            alt="">
    </div>
    <div class="col-md-7">
        <h3>Rosé Eden, 2021</h3>
        <p>Dry, fruity and classic with aromas of red fruits, stone, grass and a palette that follows close suit!</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://cdn.shopify.com/s/files/1/0011/8148/3072/products/roditis-amphora-santor-natural-Orange-wine-Achaia-Greece-front.png?v=1660312808"
            alt="">
    </div>
    <div class="col-md-7">
        <h3>Roditis Amphora, 2019</h3>
        <h4><strong><i class="bi bi-geo-fill"></i>Achaia, Greece</strong></h4>
        <p>Vibrant bronze in color, intense minerality, strong acidity with aromas of honeycomb and orange peel.</p>
        <p><strong>Tasting Notes:</strong> Citrus, tree fruit, and yeast notes!</p>
        <p><strong>Pairing Suggestions:</strong> Shellfish, Crab, Lobster</p>
        <p class="wine-details">
            <strong>Type:</strong> Orange | <strong>Vintage:</strong> 2019 | <strong>Sulfur:</strong> 26 mg/L |
            <strong>Varietal:</strong> Roditis | <strong>Alcohol:</strong> 11% | <strong>Production:</strong> Organic,
            Biodynamic | <strong>Style:</strong> Nerdy</p>
    </div>
</div>
{% endblock %}