{% extends "base.html" %}
{% block content %}
<h2 class="category-heading">Orange Wines</h2>
<hr>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://cdn.shopify.com/s/files/1/0011/8148/3072/products/tryo-gross-natural-Orange-wine-Alsace-France-front.png?v=1660578526"
            alt="">
    </div>
    <div class="col-md-7">
        <h3>Tryo, 2020</h3>
        <h4><strong>Alsace, France</strong></h4>
        <p>Medium bodied, dry and acidic, this orange wine packs a citrus punch that remains light and fresh on the
            palate.
        </p>
        <p><strong> Tasting Notes:</strong> Citrus, blood orange and fresh greens.</p>
        <p><strong>Pairing Suggestions:</strong> Pork, Rich Fish, Asian food</p>
        <p><strong>Type:</strong> Orange | <strong>Vintage:</strong> 2020 | <strong>Sulfur:</strong> No Added |
            <strong>Varietal:</strong> Riesling, Sylvaner, Pinot Gris |
            <strong>Alcohol:</strong> 13.5% |
            <strong>Production:</strong> Biodynamic | <strong>Style:</strong> Complex</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://cdn.shopify.com/s/files/1/0011/8148/3072/products/cx-partida-creus-natural-white-wine-catalonia-spain-front.jpg?v=1628487898"
            alt="">
    </div>
    <div class="col-md-7">
        <h3>Partida Creus CX, 2020</h3>
        <h4><strong>Penedes, Spain</strong></h4>
        <p>This is a sparkling wine but it has a surprising pepper nose to it that makes it far more complex than what
            you'd expect! Low ABV and unusual grape.</p>
        <p><strong>Tasting Notes:</strong>A funky and complex explosion of flavor! Pineapple, citrus, stone fruit, and
            bitter tannin on the palate.</p>
        <p><strong>Pairing Suggestions:</strong>Appetizers, Picnic Food, Summer Salads</p>
        <p><strong>Type:</strong> Orange | <strong>Vintage:</strong> 2020 | <strong>Sulfites:</strong> No Added |
            <strong>Alcohol:</strong> 10.5% | <strong>Varietal:</strong> Cartoixa Vermell | <strong>Production:</strong>
            Organic</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://cdn.shopify.com/s/files/1/0011/8148/3072/products/roditis-amphora-santor-natural-Orange-wine-Achaia-Greece-front.png?v=1660312808"
            alt="">
    </div>
    <div class="col-md-7">
        <h3>Roditis Amphora, 2019</h3>
        <h4><strong><i class="bi bi-geo-fill"></i>Achaia, Greece</strong></h4>
        <p>Vibrant bronze in color, intense minerality, strong acidity with aromas of honeycomb and orange peel.</p>
        <p><strong>Tasting Notes:</strong> Citrus, tree fruit, and yeast notes!</p>
        <p><strong>Pairing Suggestions:</strong> Shellfish, Crab, Lobster</p>
        <p class="wine-details">
            <strong>Type:</strong> Orange | <strong>Vintage:</strong> 2019 | <strong>Sulfur:</strong> 26 mg/L |
            <strong>Varietal:</strong> Roditis | <strong>Alcohol:</strong> 11% | <strong>Production:</strong> Organic,
            Biodynamic | <strong>Style:</strong> Nerdy</p>
    </div>
</div>
{% endblock %}